.carritoNum {
    background-color: red;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 22px;
    display: inline-block;
}
.linkNav {
    color: black;
    text-decoration: none;
    padding: 10px;
}
